<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise do Produto</title>
    <link rel="icon" type="image/x-icon" href="/static/esfiha_do_ponto3.png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Situação do Cadastro</h1>
        <p><b></b><img src="{{imagem}}" alt="Esfiha" width = "200" height="200"></p>
        <p><b>Produto: </b>{{nome}}</p>
        <p><b>Ingredientes: </b>{{ingrediente}}</p>
        <p><b>Preço de custo: </b>{{custo}}</p>
        <p><b>Margem: </b>{{margem}}</p>
        <p><b>Preço de venda: </b>{{venda}}</p>
        <a href="/" class="voltar" >Cadastro</a>

    </div>

</body>
</html>