<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do Menu</title>
    <link rel="icon" type="image/x-icon" href="/static/esfiha_do_ponto3.png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">
        <h1>Cadastro do Menu</h1>
        <form action="/salvar" method="POST">
            <p>Preencha os campos abaixo para cadastrar um novo produto no menu.</p>
            <input type="url" name="imagem" placeholder="Link da imagem do Produto" required>
            <input type="text" name="nome" placeholder="Nome do Produto">
            <input type="text" name="ingrediente" placeholder="Ingredientes" required>
            <input type="number" name="custo" step="0.01" placeholder="Preço de Custo" required>
            <input type="number" name="margem" step="0.01" placeholder="Margem de Venda" required>
            <br>
            <button type="submit" >Cadastrar</button>
        </form>
        <a class="voltar" href="historico.html">Menu</a>
    </div>
    
</body>
</html>